{% extends 'partials/body.html' %}

{% block menu %}
{% include 'estudiantes/grado_menu.html' %}
{% endblock menu %}

{% block contenido %}
<div class="col p-5 mi-azul rounded-3 text-light">
    <form class="row g-3 needs-validation" novalidate>
        <div class="container-fluid text-light py-4">
            <h1 class="display-5 text-center fw-bold">Modificar Grado</h1>
            <div class="row">
                <div class="col-4">
                    <form class="text-center" method="get">
                        <p>
                            <label for="favoriteOnly">Grado</label>
                            <select name="favoriteOnly" id="favoriteOnly">
                                <option>Prescolar</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                                <option>7</option>
                                <option>8</option>
                                <option>9</option>
                                <option>10</option>
                                <option>11</option>
                            </select>
                        </p>
                    </form>
                </div>
                <div class="text-center">
                    <button class="btn btn-light" type="submit"><i class="fas fa-pencil-square"></i> Modificar Estudiante</button>
                  </div>
            </div>
        </div>
    </form>
</div>
{% endblock contenido %}