{% extends 'partials/body.html' %}
{% load crispy_forms_tags %}
{% block menu %}
<a href="#"><i class="fas fa-user-plus"></i><span>Crear Grado</span></a>
<a href="#"><i class="fas fa-search"></i><span>Buscar Grado</span></a>
<a href="#"><i class="fas fa-user-edit"></i><span>Modificar Grado</span></a>
<a href="#"><i class="fas fa-clipboard-list"></i><span>Listar Grado</span></a>
{% endblock menu %}
{% block contenido %}
    <h1>Grado</h1>
    <form method="POST">
        {% csrf_token %}
        {{form|crispy}}
    </form>


<div class="text-center">
    <button class="btn btn-light" type="submit"><i class="fas
        fa-user-plus"></i> Crear Grado</button>
  </div>

{% endblock contenido %} 