::-webkit-scrollbar {
    display: none;
}
body {
    background: #0057fa;


    background: hsla(191, 75%, 60%, 1);

background: linear-gradient(90deg, hsla(191, 75%, 60%, 1) 0%, hsla(248, 87%, 36%, 1) 100%);

background: -moz-linear-gradient(90deg, hsla(191, 75%, 60%, 1) 0%, hsla(248, 87%, 36%, 1) 100%);

background: -webkit-linear-gradient(90deg, hsla(191, 75%, 60%, 1) 0%, hsla(248, 87%, 36%, 1) 100%);
}
.mi-azul{
    background: hsla(191, 75%, 60%, 1);

background: linear-gradient(90deg, hsla(191, 75%, 60%, 1) 0%, hsla(248, 87%, 36%, 1) 100%);

background: -moz-linear-gradient(90deg, hsla(191, 75%, 60%, 1) 0%, hsla(248, 87%, 36%, 1) 100%);

background: -webkit-linear-gradient(90deg, hsla(191, 75%, 60%, 1) 0%, hsla(248, 87%, 36%, 1) 100%);

border-radius: 30px;

    box-shadow: 15px 15px 30px #bebebe,
                -15px -15px 30px #ffffff;
}

.barra {
    background: #212529;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 0;
}

/*BARRA LATERAL*/

.barra-lateral {
    background: #212225;
    color: #fff;
    min-width: 250px;
    min-height: 100vh;
    padding: 0;
}

.barra-lateral a {
    color: #fff;
}


/*ESTILOS MENU*/

.barra-lateral .menu a {
    display: block;
    padding: 20px;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
}

.barra-lateral .menu a:hover {
    background-color: #003C5D;
    text-decoration: none;
}

.active {
    background: #003C5D;
}

.barra-lateral .menu {
    border-top: 5px #fff solid;
}

.barra-lateral .menu a i {
    margin-right: 20px;
}


.box img{
    width: 106%;
    border-radius: 10px;
    padding-top: 0;
  }
