{% extends 'partials/body.html' %}
{% load crispy_forms_tags %}

{% block menu %}
{% include 'facturacion/pazySalvo_menu.html' %}
{% endblock menu %}

{% block contenido %}

<div class="col p-5 mi-azul rounded-3 text-light">
    <h1 class="display-5 text-center fw-bold">Crear Paz ySalvo</h1>
    <form action="">
        {% csrf_token %}
        {{form|crispy}}
        <div class="text-center">
            <button class="btn btn-light" type="submit"><i class="fas
                    fa-user-plus"></i>Crear</button>
        </div>
    </form>
</div>

{% endblock contenido %}
