{% extends 'partials/body.html' %}
{% load crispy_forms_tags %}

{% block menu %}
{% include 'facturacion/reciboMatricula_menu.html' %}
{% endblock menu %}

{% block contenido %}
<div class="col p-5 mi-azul rounded-3 text-light">
    <h1>Recibo Matrícula</h1>
    <form method="POST">
        {% csrf_token %}
        {{form|crispy}}
    </form>

<div class="text-center">
    <button class="btn btn-light" type="submit"><i class="fas
        fa-user-plus"></i> Crear Recibo Matrícula</button>
  </div>
</div>
{% endblock contenido %} 