{% load static %}
<header class="navbar-expand-md  bg-dark">
    <a class="navbar-brand" href="{% url 'inicio' %}">
      <img width="40px" src= "{% static 'img/Logomaranata.png' %}" >      <span class="text-white"> | Liceo Maranata</span>
    </a>
  </header>

  <!--inicio del menú-->
  <div class="container-expand">
    <div class="container-expand">
      <nav class="navbar navbar-expand bg-dark">
        <div class="container-fluid">
          <ul class="nav nav-tabs" >
            <li class="nav-item">
              <a class="nav-link " href="{% url 'inicio' %}">Gestión de usuarios</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="{% url 'estudiantes' %}">Gestión de estudiantes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'grado' %}">Grado</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="{% url 'reciboMatricula' %}">Gestión recibo matricula</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'añoLectivo' %}">Año lectivo</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'reciboPension' %}">Gestión de recibo de pensión</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'pazySalvo' %}">Gestión paz y salvo</a>
            </li>
          </ul>
          <a class="btn btn-outline-danger ml-auto" href="{% url 'login' %}"><i class="fas fa-power-off m-1"></i>Cerrar
            Sesión</a>

        </div>
      </nav>
    </div>