{% load static %}
<header class="navbar-expand-md  bg-dark">
    <a class="navbar-brand" href="Principal.HTML">
      <img src="img/Logomaranata.png" width="40px">
      <span class="text-white"> | Liceo Maranata</span>
    </a>
  </header>

  <!--inicio del menú-->
  <div class="container-expand">
    <div class="container-expand">
      <nav class="navbar navbar-expand bg-dark">
        <div class="container-fluid">
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link " data-bs-toggle="collapse" data-bs-target="#gUsuario" aria-expanded="false"
                aria-controls="collapseWidthExample" aria-current="page" href="#">Gestión de usuarios</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="#">Gestión de estudiantes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Grado</a>
            </li>
            <li class="nav-item">
              <a class="nav-link ">Gestión recibo matricula</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Año lectivo</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Gestión de recibo de pensión</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Gestión paz y salvo</a>
            </li>
          </ul>
          <a class="btn btn-outline-danger ml-auto" href="/index.HTML"><i class="fas fa-power-off m-1"></i>Cerrar
            Sesión</a>

        </div>
      </nav>
    </div>